// 🎨 Colors

$bg-white: #fff;

$primary-500: #1f6fd6;
$primary-600: #06c;
$primary-700: #004080;

$text-primary: #000;
$text-inverse: #fff;

$border-light: #f0f0f0;
$border-default: #8a8d90;
$border-muted: #ddd;

$danger-500: #a30000;
$danger-600: #c9190b;
$danger-light: #e74c3c;

$icon-default: #555;

// Typography
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
