@use "./../../styles/_variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap");
.login * {
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/keycloak-bg.png") no-repeat center center fixed;
  background-size: cover;

  .login-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }

  .logo {
    height: 63px;
    width: 300px;
    margin-block-start: 4rem;
    margin-block-end: 3rem;
  }

  .card {
    background: $bg-white;
    width: 100%;
    max-width: 544px;
    min-height: 374px;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    padding-block-end: 2rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }

  .title {
    color: #000;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    padding-block-end: 1.2rem;
    padding-block-start: 3rem;
    padding-inline-end: 3rem;
    font-family: "Red Hat Display", sans-serif !important;
    font-family: inherit;
  }

  .form-group {
    position: relative;

    .label {
      display: block;
      margin-bottom: 2px;
      font-size: 14px;
      font-weight: $font-weight-600;
      color: #000;
    }

    /* Email Input */
    input {
      width: 100%;
      padding: 12px;
      border: 1px solid $border-light;
      border-bottom: 1px solid $border-default;
      font-size: 14px;
      transition: border 0.3s ease;
      height: 35px;
      font-family: inherit;

      &:focus {
        outline: none;
        border-color: $primary-600;
      }
      &:hover {
        border-bottom-color: $primary-600;
        border-bottom-width: 1px;
      }

      &.error {
        border-bottom: 2px solid $danger-500;
      }
    }

    &.email-field {
      margin-bottom: 20px;
      margin-bottom: 25px;
    }
  }

  /* Password wrapper */

  .password-field {
    display: flex;
    align-items: center;
    // margin-bottom: 20px;
  }

  .eye-icon-wrapper {
    height: 35px;
    padding: 10px 17px 12px 12px;
    border: 1px solid $border-light;
    border-left: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom: 1px solid $border-default;
    font-size: 14px;
    transition: border 0.3s ease;
    align-items: center;
    margin-top: -5px;
    cursor: pointer;
    &:hover {
      border-bottom-color: $primary-600;
      border-bottom-width: 2px;
    }
    &:focus {
      border-bottom-color: $primary-600;
      border-bottom-width: 2px;
    }
  }

  .password-wrapper {
    width: 100%;
    margin-bottom: 5px;

    .password-input {
      width: 100%;
      padding: 12px 45px 12px 12px;
      border: 1px solid $border-light;
      border-bottom: 1px solid $border-default;
      font-size: 14px;
      transition: border 0.3s ease;

      &:focus {
        outline: none;
        border-color: $primary-600;
      }
      &:hover {
        border-bottom-color: $primary-600;
        border-bottom-width: 1px;
      }

      &:active {
        border-bottom-color: $primary-600;
        border-bottom-width: 1px;
      }

      &.error {
        border-color: $danger-500;
      }
    }

    .eye-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 16px;
      color: #555;
    }
  }

  .forgot-link {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: $font-weight-500;
    color: $primary-600;
    text-decoration: none;
    gap: 0.25rem;
    line-height: 21px;

    &:hover {
      text-decoration: underline;
    }
  }

  .error-msg {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    color: $danger-500;
  }

  .btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;

    background-color: $primary-500;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: $font-weight-500;
    margin-top: 48px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: $primary-700;
    }
  }
}

.fa-icon {
  font-size: 15px;
  color: #000;
}

.alert-icon {
  .fa-icon {
    color: $danger-600 !important;
    position: absolute;
    top: 26px;
    right: 7px;
  }
}

.alert-icon-password {
  .fa-icon {
    color: $danger-600 !important;
    position: absolute;
    top: 25px;
    right: 55px;
  }
}
