.badge {
  background-color: #4d4d4d;
  border-radius: 50%;
  min-height: 16px;
  min-width: 16px;
  width: 16px;
  max-height: 16px;
  max-width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  .badge-text {
    color: #fff;
    font-weight: 500;
    font-size: 8pt;
  }
}
