.home {
  display: flex;
  height: calc(100vh - 48px);
  margin-top: 48px;
}
.home-content {
  margin-left: 130px;
  flex: 1;
  overflow-y: auto;
  padding: 60px 0px 60px 60px;
}
.home-sidebar {
  position: fixed;
  top: 48px;
  left: 0;
  width: 140px;
  height: calc(100vh - 48px);
  z-index: 3;
  transition: all 0.3s linear;
  box-shadow: 11px 0 13px -5px #e2e2e2;
}

.alerts-container {
  position: absolute;
  top: 24%;
  right: 0;
  width: 61%;
  height: 100%;
  background: transparent;
  display: flex;
  gap: 20px;
}
