.switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  width: 55px;
  min-width: 55px;
  height: 23px;
  // border: 1px solid white;
  border-radius: 99em;
  position: relative;
  transition: transform 0.5s ease-in-out;
  transform-origin: 50% 50%;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  inset: 0;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 99em;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;

  &::before {
    transition: transform 0.5s ease;
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    top: 3px;
    left: 4.5px;
    margin-right: 4px;
  }
}

.switch-text {
  font-size: 10pt;
  font-weight: 400;
  color: white;
  z-index: 1;
  transition: opacity 0.4s;
  user-select: none;
  margin: 0 3px;
}

.switch-text-off {
  opacity: 0;
}

.switch-text-on {
  position: absolute;
  right: 8px;
}

.switch-input:checked + .switch-slider {
  &::before {
    transform: translateX(27px);
  }

  .switch-text-off {
    opacity: 1;
  }

  .switch-text-on {
    opacity: 0;
  }
}
