.medication-list {
  padding-top: 30px;
  position: relative;
}

.medication-list-header {
  display: flex;
  gap: 45px;
  align-items: center;
}

.medication-list-title {
  font-size: 18px;
  font-weight: 500;
}

.medication-list-content {
  position: relative;
}

.medication-list-add-button {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 8px 12px;
  border-radius: 6px;
  background: transparent;
  color: #1c2275;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
.medication-list-add-text {
  font-size: 13px;
  font-weight: 400;
}

.medication-list-items {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 20px;
}

.medication-list-item {
  position: relative;
  display: flex;
  gap: 8px;
  padding: 10px 80px 10px 10px;
  cursor: default;

  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin-left: 8px;
    align-self: center;
  }

  & > span {
    position: relative;
    z-index: 1;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
  }

  &:hover {
    &::after {
      background-color: #999;
    }

    .medication-list-actions {
      display: block;
    }
  }
}

.medication-list-actions {
  display: none;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  z-index: 2;
}

.medication-list-index {
  font-weight: 600;
  color: rgb(33, 37, 41);
}

.medication-list-name {
  font-weight: 500;
  font-size: 12px;
}

.medication-list-overlay {
  position: absolute;
  top: 0;
  left: 550px;
  width: 120px;
  height: 100%;
  background: #e8e8e8;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .overlay-capsule {
    width: 120%;
    height: 20px;
    margin: 15px 0;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .overlay-header {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }
}

.overlay {
  width: 100%;
  pointer-events: none;
}

.capsule {
  height: 21px;
  width: 137px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #757575;
  border-radius: 25px;
  box-shadow: 0 0 10px #a9a9a9;
  font-size: 13px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  height: 100vh;
  background: transparent;
  display: flex;
  gap: 50px;
}

.overlay-content {
  position: relative;
  background: #e5e3e4;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  border-radius: 15px;
  z-index: 1000;
  height: 100%;
  min-height: 600px;
}

.modal-add-medication {
  margin-top: 28px;
  background-color: #f0f2f1;
  border-radius: 6px 6px 0 0;
  padding: 1rem 1rem;
}
