.medication-actions {
  display: flex;
  gap: 0px;
  background: #ffffff;
  padding: 2px;
  border-radius: 6px;
  justify-content: flex-start;
  button {
    display: flex;
    align-items: center;
    padding: 1px;
    // border-radius: 4px;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      //   opacity: 0.7;
      //   background: rgba(0, 0, 0, 0.05);
    }
  }
}
