.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.capsule {
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 30%;
  width: 50%;
  height: calc(100vh - 250px);
  background: transparent;
  display: flex;
  gap: 50px;
  margin-top: -150px;
  z-index: 1;
}

// .overlay-content {
//   position: relative;
//   background: #e5e3e4;
//   width: 100px;
//   padding: 10px;
//   border-radius: 8px;
//   color: white;
//   z-index: 1000;
//   height: 100%;
// }
