.ribbon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ribbon-header {
    height: 6px;
    width: 35px;
    margin: 0 auto 5px;
    border-radius: 10px;
  }
  .ribbon-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ribbon-title {
      padding: 0 5px;
      color: #454545;
      font-size: 9pt;
      line-height: 16px;
      font-weight: 450;
      word-wrap: break-word;
      overflow: hidden;
      text-align: center;
    }
  }
}
